<% provide(:title, "ログイン") %>
<div class="photo_area"></div>
  <div class="container-fluid">
    <div class="row signup">
      <div class="col-md-6 special-text ">
        <h1>Login</h1>
      </div>
        <div class="col-md-6">
          <div class="row signup">
            <div class="col-md-4"></div>
              <div class="col-md-4 text-right">
                <%= link_to "Home",'/',:style => "font-family: 'Amatic SC', cursive", :class => "link" %>
              </div>
                <div class="col-md-4 text-right">
                  <%= link_to "Signup",'/signup',:style => "font-family: 'Amatic SC', cursive", :class => "link" %>
                </div>
          </div>
        </div>
    </div>
      <div class="row form space">
        <div class="col-md-4">
          <% if flash.now[:danger]  %>
            <div class="alert alert-danger flash-text">
              <%= flash.now[:danger] %>
            </div>
          <% end %>
        </div>
          <div class="col-md-4 text-center">
            <%= form_for(:session, url: login_path) do |f| %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', :placeholder => "メールアドレス" %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>

              <%= f.submit "ログイン", class: "btn btn-primary" %>

              <%= f.label :remember_me, class: "text-right" do %>
                <%= f.check_box :remember_me %>
                <span class="flash-text">保存する</span>
              <% end %>
            <% end %>
              <div class="flash-text space">
                <p>アカウントをお持ちでないですか？<%= link_to "登録する", signup_path %></p>
              </div>
          </div>
            <div class="col-md-4"></div>
      </div>
  </div>
