<%= provide(:title,"新規登録") %>
<div class="photo_area"></div>
  <div class="container-fluid padding">
    <div class="row signup">
      <div class="col-md-6 special-text">
        <h1>Sign up</h1>
      </div>
        <div class="col-md-6">
          <div class="row signup">
            <div class="col-md-4"></div>
              <div class="col-md-4 text-right">
                <%= link_to "Home",'/',:style => "font-family: 'Amatic SC', cursive", :class => "link" %>
              </div>
                <div class="col-md-4 text-right">
                  <%= link_to "Login",'/login',:style => "font-family: 'Amatic SC', cursive", :class => "link" %>
                </div>
          </div>
        </div>
    </div>
      <div class="row form space">
        <div class="col-md-4">
          <% if @user.errors.full_messages %>
            <% @user.errors.full_messages.each do |msg| %>
              <div class="alert alert-danger flash-text">
                <%= msg %>
              </div>
            <% end %>
          <% end %>
        </div>
          <div class="col-md-4 text-center">
            <%= form_for(@user, url: signup_path) do |f| %>

              <div>Name</div>
              <%= f.text_field :name, class: 'form-control', :placeholder => "ユーザーネーム" %>

              <div>Email</div>
              <%= f.email_field :email, class: 'form-control', :placeholder => "メールアドレス" %>

              <div>Password</div>
              <%= f.password_field :password, class: 'form-control', :placeholder => "パスワード" %>

              <%= f.submit "登録する", class: "btn btn-primary" %>
            <% end %>
            <div class="flash-text mini-space">
              <p>アカウントをすでにお持ちですか？<%= link_to "ログイン", login_path %></p>
            </div>
          </div>
            <div class="col-md-4"></div>
      </div>
  </div>
