<% provide(:title, @user.name) %>
<div class="photo_area"></div>
  <div class="container-fluid">
    <%= render 'layouts/header' %>
      <div class="row signup">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            <% if flash[:signup_success] %>
              <div class="alert alert-success flash-text">
                <%= flash[:signup_success] %>
              </div>
            <% end %>
            <% if flash[:success] %>
              <div class="alert alert-success flash-text">
                <%= flash[:success] %>
              </div>
            <% end %>
          </div>
        <div class="col-md-4"></div>
      </div>
        <div class="row home">
          <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
              <%= gravatar_for @user %>
            </div>
              <div class="col-md-4 text-center">
                <h1 class="logo-text"><%= @user.name %></h1>
                  <h4><%= @user.email %></h4>
              </div>
        </div>
          <div class="row signup bg-light">
            <div class="col-md-2"></div>
              <div class="col-md-1"></div>
                <div class="col-md-1">
                  <%= link_to "投稿",'#', :class => "link" %>
                </div>
          </div>
  </div>
